table{
    border-collapse: collapse;
    width: 100%;
    height: 60%;
    text-align: center;
    background: lightpink;
}
.a{
    background:-webkit-linear-gradient(left, #a445b2, #fa4299);
    color: white;
    font-size: 25px;
}

.b{
    background:#a649ad;
    font-size: 18px;
}
.c{
    font-weight: bold;
    
}